.profile__image {
    width: 120px;
    min-height: 120px;
    background-image: url(../../../images/Jacques\ Cousteau_optimized.jpg);
    border-radius: 50%;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
}