.profile__image {
    min-width: 120px;
    min-height: 120px;
    background-image: url(../../../images/Jacques_Cousteau_optimized.jpg);
    border-radius: 50%;
    box-sizing: 120px 120px;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
}