.profile__info {
    display: flex;
    margin: auto 17% auto 2%;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .profile__info {
        margin: auto 5% auto 3.4%;
    }
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin: 0;
    }
}

@media screen and (max-width: 630px) {
    .profile__info {
        margin: 30px auto 36px;
    }
}