.info__edit {
    width: 24px;
    height: 24px;
    margin: 14px 0 0 18px;
    background-image: url(../../../../images/white-pen_optimized.png);
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    border: 1px solid white;
    opacity: 1;
}

.info__edit:hover {
    opacity: 0.5;
}

@media screen and (max-width: 630px) {
    .info__edit {
        width: 18px;
        height: 18px;
        margin: 0 0 0 10px;
    }
}