.info__about {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 630px) {
    .info__about {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}